<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	<tab>
		<pan title="Jvid">
			<h3>I am the Jvid page</h3>
			<!-- <p ng-click="say('Hello Jivd')">这是一个父级指令的方法</p> -->
		</pan>
		<pan title="Jing">
			<h3>I am the Jing page</h3>
			<!-- <p>这是自己的一个方法<span ng-click="clik()">点击</span></p> -->
		</pan>
	</tab>
</body>
</html>