<!DOCTYPE html>
<html lang="en" ng-app="myApp" id="ng-app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="index.js"></script>
</head>
<body>
	<div ng-controller="myCtrl as n">
		<ul>
			<li ng-repeat="num in n.nums | itemsFilter track by $index" ng-bind="num"></li>
		</ul>
		<hr>
		<ul>
			<li ng-repeat="num in n.nums2 | itemsFilter2 track by $index" ng-bind="num"></li>
		</ul>
	</div>
</body>
</html>